<p ng-if="!thing">Unable to locate the thing you're looking for.</p>

<div ng-if="thing" class="text-center">

  <p class="lead">Are you sure you want to <u class="text-danger">remove</u> <mark>{{thing.name}}</mark> permanently</abbr>?</p>

  <button id="exitingThingRemoveYes" class="btn btn-lg btn-danger" ng-click="confirm()"><span class="glyphicon glyphicon-ok"></span> Yes</button>
  <button id="exitingThingRemoveNo" class="btn btn-lg btn-default" ui-sref="app.default"><span class="glyphicon glyphicon-remove"></span> No</button>
</div>
