<p ng-if="!thing">Unable to locate the thing you're looking for.</p>

<div ng-if="thing">
  <form name="detailForm" ng-submit="saveChanges()">
    <table class="table borderless">
      <tr>
        <td align="right"><b>ID:</b></td>
        <td ng-bind="thing._id"></td>
      </tr>
      <tr>
        <td align="right"><b>Name:</b></td>
        <td><input id="existingThingName" class="form-control" type="text" ng-model="thing.name" /></td>
      </tr>
      <tr>
        <td align="right"><b>Created:</b></td>
        <td ng-bind="thing.createdAt|date:'short'"></td>
      </tr>
      <tr ng-if="thing.updatedAt !== thing.createdAt">
        <td align="right"><b>Updated:</b></td>
        <td ng-bind="thing.updatedAt|date:'short'"></td>
      </tr>
      <tr ng-show="detailForm.$dirty">
        <td></td>
        <td>
          <button id="existingThingSaveChanges" type="submit" class="btn btn-success">Save changes</button>
        </td>
      </tr>
    </table>
  </form>
</div>

<hr />

<a ui-sref="app.default" id="existingThingGoBack"><span class="glyphicon glyphicon-backward"></span> Go back and view all</a>
